langchain-openai==0.3.6
langchain-groq==0.2.4
langchain-community==0.3.18
langgraph==0.2.74
pydantic==2.10.6
fastapi==0.115.8
uvicorn==0.34.0
streamlit==1.42.2
langchain-anthropic==0.3.8
python-dotenv==1.0.1